<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="DbUsername" value="swapnilcramteke@gmail.com" />
    <add key="DbPassword" value="Swapnil2040" />
    <!-- NOTE: The base time. Should be specified in the format HH:MM -->
    <add key="BaseTime" value="21:00" /> 
    <!-- NOTE: The time span between which the agent should report. Should be of the format HH:MM -->
    <add key="TimeSpan" value="2:00" />
    <!-- NOTE: The directories to be excluded are separted by ';' -->
    <add key="DirectoryToExclude" value="C:\Windows;" />
    <!-- NOTE: The file types to be monitored are separated by ';', and should be of the format '*.extension' -->    
    <add key="FileTypesToMonitor" value="*.exe;*.bat;*.dll" />
  </appSettings>
</configuration>
